/* --------------Tags----------------- */
body{
  /* Get the image */
  background-image: url("../Images/Blackwood.jpg");
  background-color: grey;
  /* Full height */
  height: 600px;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
/* Links to all buttons within HTML */
button{
  color:black;
  width:30%;
  margin-top:35px;
}

table{
  border:1px solid black;
  width:100%;
  background-color: grey;
}

th, td{
  border:1px solid black;
  width:10px;
  text-align: center;
  font-size:25px;
}

/* --------------Classes-------------- */
/* Size of screen */
.screen{
  border:solid 1px black;
  height: 675px;
  padding:0px;
  background-color: grey;
}

/* Center Title */
.title{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0.5);(1,1,1,1);
  padding-top: 15px;
}

/* Name of game */
.titleSub{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0);(1,1,1,1);
  padding-top: 15px;
}

/* Area of where game is shown */
.display{
  border:solid 1px black;
  height: 400px;
  padding: 0px 0px;
}

/* Displays whos turn it is */
.turnDisplay{
  height: 50px;
  padding: 0px 0px;
  text-align: center;
}

/* buttons representing rock, paper, scissors */
.buttonSection{
  height: 75px;
  padding: 0px 0px;
  text-align: center;
}

/* Displays how many game won by each player */
.scoreBoard{
  height: 75px;
  padding: 5px 0px;
  text-align: center;
}


 /* Style for all innerSquares */
.innerSquare {
  margin:0px 0px;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* This will be the area where the buttons for rock, paper, scissors will be placed */
.buttonArea{
  margin-top:10px;
  text-align:center;
}

/* used to display yhe scores at the top */
.playerScore{
  font-size: 200%;
  float:left;
  margin-left:7.5%;
}

.saveArea{
  border:solid 1px black;
  height: 300px;
  width:200px;
  padding:20px;
  background-color: grey;
  color:black;
  margin-top:5px;
  margin-bottom:5px;
  text-align: center;
  float:left;
  margin-left:30px;
}

.saveArea button{
  width:100px;
}

.newGame{
  margin:10px 0px;
  padding-left: 120px;
}
.newGame button{
  width: 200px;

}
/* -----------------ID----------------- */
/* This target the new game button, to make it float left */
#enterNewGame{
  margin-top:10px;
  float:left;
}
