body{
  /* Get the image */
  background-image: url("../Images/Blackwood.jpg");
  background-color: grey;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
/* Center Title */
.title{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0.5);(1,1,1,1);
  padding-top: 15px;
}

/* Name of game */
.titleSub{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0);(1,1,1,1);
  padding-top: 15px;
}
/* This is for displayig the leaderBoard within the website */
.display{
  border:solid 1px black;
  height: 100%;
  min-height:600px;
  padding:20px;
  background-color: grey;
  text-align: center;
}
/* This is for the header of the website */
.header{
  background-color: black;
  border-radius: 300px;
  border:solid;
  margin-bottom: 10px;
}

/* This is to allow the table to be big enought for the website */
table{
  border:1px solid white;
  width:100%;
  background-color: grey;
}
/* Styles the table head and data */
td{
  border-top:1px solid white;
  border-bottom:1px solid white;
  height:40px;
  text-align: center;
  background-color: rgba(255,255,255,1);
  font-size:25px;
}
th {
  border-top:1px solid white;
  border-bottom:1px solid white;
  height:40px;
  text-align: center;
  background-color: rgba(30,30,30,1);
  font-size:25px;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabContent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
