body{
  /* Get the image */
  background-image: url("../Images/Blackwood.jpg");
  background-color: grey;
  /* Full height */
  height: 600px;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
button{
  color:black;
  width:30%;
  margin-top:35px;
}

/* --------------Classes-------------- */
/* Size of screen */
.screen{
  border:solid 1px black;
  height: 610px;
  padding:0px;
  background-color: grey;
}

/* Center Title */
.title{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0.5);(1,1,1,1);
  padding-top: 15px;
}

.titleSub{
  margin-top:0px;
  text-align:center;
  height: 75px;
  background-color: rgba(125, 125, 125, 0);(1,1,1,1);
  padding-top: 15px;
}

.display{
  border:solid 1px black;
  height: 400px;
  padding: 0px 0px;
}

.turnDisplay{
  height: 50px;
  padding: 0px 0px;
  text-align: center;
}

.buttonSection{
  height: 100px;
  padding: 0px 0px;
  text-align: center;
}

.scoreBoard{
  height: 50px;
  padding: 5px 0px;
  text-align: center;
}

 /* Style for all innerSquares */
.innerSquare {
  margin:0px 0px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.buttonArea{
  margin-top:10px;
  text-align:center;
}

.playerScore{
  font-size: 200%;
  float:left;
  margin-left:7.5%;
}
